<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Designer</title>
    <script src="../../js/lib/vue.min.js"></script>
    <script src="../../js/lib/iview/iview.min.js"></script>
    <script src="../../js/lib/axios/axios.min.js"></script>
    <script src="../../js/lib/layui/layui.js"></script>
    <link rel="stylesheet" href="../../css/lib/iview.css" type="text/css">
    <link rel="stylesheet" href="../../js/lib/layui/css/layui.css" type="text/css">
    <link rel="stylesheet" href="../../css/commen.css" type="text/css">
    <script src="../../js/service/common.js"></script>
    <!-- CodeMirror -->
    <!--    <link rel="stylesheet" href="LogicDesigner/dependency/codemirror-5.52.0/doc/docs.css">-->
    <link href="LogicDesigner/dependency/codemirror-5.52.0/lib/codemirror.css" rel="stylesheet" type="text/css">
    <link href="LogicDesigner/dependency/codemirror-5.52.0/theme/monokai.css" rel="stylesheet" type="text/css">
    <link href="LogicDesigner/dependency/codemirror-5.52.0/addon/display/fullscreen.css" rel="stylesheet"
          type="text/css">
    <script type="text/javascript" src="LogicDesigner/dependency/codemirror-5.52.0/lib/codemirror.js"></script>
    <!-- active-line & matchbrackets & fullscreen -->
    <script type="text/javascript"
            src="LogicDesigner/dependency/codemirror-5.52.0/addon/selection/active-line.js"></script>
    <script type="text/javascript"
            src="LogicDesigner/dependency/codemirror-5.52.0/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript"
            src="LogicDesigner/dependency/codemirror-5.52.0/addon/display/fullscreen.js"></script>
    <!-- for language-->
    <script type="text/javascript" src="LogicDesigner/dependency/codemirror-5.52.0/mode/python/python.js"></script>
    <style>.CodeMirror {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }</style>
    <style>
        .ivu-split-trigger-vertical {
            width: 2px;
            background: #d6d6d6;
        }

        .ivu-split-trigger {
            border: 0px;
        }

        .ivu-tabs-bar {
            margin-bottom: 1px;
        }

        .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title {
            padding: 0 0px;
        }

        .ivu-breadcrumb {
            font-size: 22px;
            float: left;
        }
    </style>
</head>
<body>
<div id="app" style="height: 100vh">
    <!--    <row style="height: 3%">-->
    <!--        <i-col span="24"></i-col>-->
    <!--    </row>-->
    <row style="height: 30px">
        <i-col span="24">
            <span>
                <breadcrumb>
                    <breadcrumb-item v-for="item in breadcrumb.list">
                        {{item}}
                    </breadcrumb-item>
                </breadcrumb>
            </span>
            <span style="color: green;margin-left: 30px;font-size: 22px;">
                id: {{breadcrumb.cur_selected_id}}
            </span>
        </i-col>
    </row>
    <row style="height: 94%;border: 1px solid #d6d6d6;">
        <span style="height: 100%;width: 2%;float: left;border: 1px solid #dcdee2">
            <i-menu theme="dark" width="auto" :active-name="menu_active_name" @on-select="handleMenuSelect">
                <!--writing-mode: vertical-lr;-->
                <menu-item name="data" width="auto" style="user-select:none;">
                    Data
                </menu-item>
                <menu-item name="logic" width="auto" style="user-select:none;">
                    Logic
                </menu-item>
            </i-menu>
        </span>
        <span style="height: 100%;width: 97.6%;float: left;">
            <split v-model="split">
                <div slot="left">
                        <div v-show="menu_active_name=='data'" id="designer_data_directory_tree"
                             style="font-size: 20px">
                        </div>
                        <div v-show="menu_active_name=='logic'" id="designer_logic_directory_tree"
                             style="font-size: 20px">
                            logic
                        </div>
                </div>
                <div slot="right">
                    <tabs v-model="tab_pane_cur" type="card" closable @on-tab-remove="handleTabRemove" :animated="false"
                          style="user-select:none;">
                        <!--style="margin-left: 10px"-->
                        <tab-pane :label="item.label" v-if="tab_pane[index].visible" v-for="(item,index) in tab_pane"
                                  :icon="item.icon"
                                  style="margin-left: 2px;">
                            <!--data-->
                            <div v-show="item.type=='data'">
                                        <i-input v-model="designer_data_directory.cur_selected.description"
                                                 :readonly="designer_data_directory.cur_selected.description_disabled"
                                                 type="textarea">
                                        </i-input>
                                        <i-button type="primary"
                                                  @click="execute('designer_data_directory.do_update_designer_data_directory__description')">{{vue_data.designer_data_directory.cur_selected.description_btn_name}}</i-button>
                                        <i-button type="primary"
                                                  @click="execute('data_struct.do_insert_designer_data_struct')">add one line</i-button>
                                        <span style="user-select: text">table_prefix_name: designer_data_data_</span>
                                        <i-table stripe border :columns="data_struct.columns"
                                                 :data="data_struct.data"
                                                 :loading="data_struct.loading"
                                        ></i-table>
                                        <collapse>
                                            <panel>
                                                Data Input Channel(Data input from Logic)
                                                <p slot="content"
                                                   v-for="item in data_struct.associate.io.set">{{item}}</p>
                                            </panel>
                                        </collapse>
                                        <collapse>
                                            <panel>
                                                Data Output Channel(Data output to Logic)
                                                <p slot="content"
                                                   v-for="item in data_struct.associate.io.get">{{item}}</p>
                                            </panel>
                                        </collapse>
<!--                                        <collapse>-->
<!--                                            <panel>-->
<!--                                                // Data Subscribe Channel(Logic makes the data subscribe to its own changes(running/pause/exception/finish),after the logic changes,it will trigger time to the data,and the data will change)-->
<!--                                                <p slot="content"-->
<!--                                                   v-for="item in designer_data_directory.channel.data_subscribe">{{item}}</p>-->
<!--                                            </panel>-->
<!--                                        </collapse>-->
                                        <collapse>
                                            <panel>
                                               Data Trigger Channel(Logic subscribe to the data change(crud),after the data chanages, the event will be triggered to the logic, and the logic will be executed)
                                                <div slot="content">
                                                    <!--insert-->
                                                    <collapse>
                                                        <panel>
                                                           insert<p slot="content" v-for="item in data_struct.associate.trigger.insert">{{item}}</p>
                                                        </panel>
                                                    </collapse>
                                                    <!--update-->
                                                    <collapse>
                                                        <panel>
                                                           update<p slot="content" v-for="item in data_struct.associate.trigger.update">{{item}}</p>
                                                        </panel>
                                                    </collapse>
                                                    <!--delete-->
                                                    <collapse>
                                                        <panel>
                                                           delete<p slot="content" v-for="item in data_struct.associate.trigger.delete">{{item}}</p>
                                                        </panel>
                                                    </collapse>

                                                </div>
                                            </panel>
                                        </collapse>
                            </div>
                            <!--logic-->
                            <div v-show="item.type=='logic'">
                                language: Python; Version: 3+; <i-button type="primary" @click="designer_logic_data.standard.display = true">Show Standard</i-button>
                                    <modal v-model="designer_logic_data.standard.display" title="Logic Coding Standard" ><pre v-html='designer_logic_data.standard.content'></pre></modal>
                                <textarea id="code" name="code"></textarea>
                            </div>
                        </tab-pane>
                    </tabs>
                </div>
            </split>
        </span>
        <!--        <span style="height: 100%;width: 1.2%;float: right;">-->
        <!--        </span>-->
    </row>
    <row style="height: 30px">
        <i-col span="24"></i-col>
    </row>
</div>
<script>
    const vue_data = {
        //
        breadcrumb: {
            list: [],
            cur_selected_id: '',
        },
        //
        menu_active_name: "data",
        menu_init_record: {},
        last_select_menu_ts: 0,
        //
        split: 0.2,
        //
        tab_pane: [],
        tab_pane_cur: "",
    };
    const vue_methods = {
        execute: function (name) {
            let target_func = function () {
            };
            target_func = vue_methods;
            for (const func_name_item of name.split(".")) {
                target_func = target_func[func_name_item];
            }
            target_func();
        },
        handleTabRemove(name) {
            vue_data.tab_pane[name]["visible"] = false;
        },
        handleMenuSelect(name) {
            if (name == vue_data.menu_active_name || !vue_data.menu_init_record[name]) {
                if (new Date().valueOf() - vue_data.last_select_menu_ts < 600) {
                    return;
                }
                trigger_directory_init(name);
            }
            vue_data.menu_active_name = name;
            vue_data.last_select_menu_ts = new Date().valueOf();
        },
    };
</script>
<script src="DataDesigner/js/designer_data_directory.js"></script>
<script src="DataDesigner/js/designer_data_struct.js"></script>
<script src="LogicDesigner/js/designer_logic_directory.js"></script>
<script src="LogicDesigner/js/designer_logic_data.js"></script>

<script>
    let Main = {
        data() {
            return vue_data;
        },
        methods: vue_methods
    };
    const component = new (Vue.extend(Main))().$mount('#app');
</script>
<script>
    async function trigger_directory_init(directory_type) {
        vue_data.menu_init_record[directory_type] = 1;
        if (directory_type == "data") {
            init_designer_data_directory();
        } else if (directory_type == "logic") {
            init_designer_logic_directory();
        }
    }

    trigger_directory_init(vue_data.menu_active_name);
</script>
</body>
</html>